/*biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind css file*/
@import "tailwindcss";

@theme {
	--font-sans: Inter, sans-serif;

	--color-primary: #1a365d;
	--color-secondary: #2b6cb0;
	--color-accent: #38b2ac;
	--color-success: #48bb78;
	--color-warning: #ed8936;
	--color-error: #e53e3e;
	--color-background: #f7fafc;
	--color-text: #2d3748;
	--color-item-hover: #dcdfe0;
	--color-popover: var(--color-background);
	--color-popover-foreground: var(--color-text);
	--color-accent-foreground: var(--color-primary);

	/* Add aliases without the color- prefix for Tailwind classes */
	--primary: var(--color-primary);
	--secondary: var(--color-secondary);
	--accent: var(--color-accent);
	--success: var(--color-success);
	--warning: var(--color-warning);
	--error: var(--color-error);
	--background: var(--color-background);
	--text: var(--color-text);
}
